<section id="datosContacto" class="w-full md:max-w-7xl pt-18 md:pt-20 mx-auto p-8 pb-30">
  
  <!-- Información de horario, teléfono, ubicación, etc -->
  <div class="flex flex-col md:flex-row md:gap-10">
    <div class="md:w-1/2">
      <!-- Título de la sección -->
      <h2 class="text-primary text-4xl font-bold mb-8 text-center md:text-left">
        Estamos a tu disposición
      </h2>
      <p class="text-center md:text-left text-lg text-gray-700 mb-6">
        Nuestra oficina está ubicada en el corazón de la ciudad, facilitando el acceso a nuestros clientes. 
        Ven a visitarnos y descubre cómo podemos ayudarte con tus necesidades legales.
      </p>
      
      <!-- Detalles de ubicación -->
      <div class="flex items-center gap-8 text-left bg-gray-100 p-4 rounded-2xl shadow-md mb-2">
        <img src="/icons/ubicacion.svg" alt="Icono de ubicación" class="ml-4 w-12 h-12"/>
        <div>
          <h2 class="text-xl font-semibold mb-2">Ubicación</h2>
          <a href="https://maps.app.goo.gl/UdnUjDHyAqWMkpuc6" target="_blank" class="text-sm md:text-base text-primary hover:underline">C/ Fortunato Arias, 45, bajo 2, Hellín(Albacete), 02400</a>
        </div>
      </div>

      <!-- Detalles de horario -->
      <div class="flex items-center gap-8 text-left bg-gray-100 p-4 rounded-2xl shadow-md mb-2">
        <img src="/icons/horario.svg" alt="Icono de calendario" class="ml-4 w-12 h-12"/>
        <div>
          <h2 class="text-xl font-semibold mb-2">Horario de oficina</h2>
          <p class="text-sm md:text-base text-gray-700">Lunes a Jueves: de 10:00 a 14:00 y de 17:00 a 20:00</p>
          <p class="text-sm md:text-base text-gray-700">Viernes: de 10:00 a 14:00</p>
        </div>
      </div>

      <!-- Detalles del correo electrónico -->
      <div class="flex items-center gap-8 text-left bg-gray-100 p-4 rounded-2xl shadow-md mb-2">
        <img src="/icons/email.svg" alt="Icono de corre" class="ml-4 w-12 h-12"/>
        <div>
          <h2 class="text-xl font-semibold mb-2">Correo electrónico</h2>
          <a href="mailto:joseantonio@vidalegal11.com" class="text-sm md:text-base text-primary hover:underline">joseantonio@vidalegal11.com</a>
        </div>
      </div>

      <!-- Detalles de teléfonos de contacto -->
      <div class="flex items-center gap-8 text-left bg-gray-100 p-4 rounded-2xl shadow-md mb-2">
        <img src="/icons/telefono.svg" alt="Icono de teléfono" class="ml-4 w-12 h-12"/>
        <div>
          <h2 class="text-xl font-semibold mb-2">Teléfonos de contacto</h2>
          <p class="text-sm md:text-base text-gray-700">Teléfono: <a href="tel:+34967680649" class="text-sm md:text-base text-primary hover:underline">967 680 649</a>, 
            Móvil: <a href="tel:+34683126162" class="text-sm md:text-base text-primary hover:underline">683 126 162</a></p>
        </div>
      </div>

    </div>

    <!-- Mapa de Google Maps -->
    <div class="md:w-1/2 h-[450px] md:h-auto">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2207.673781938445!2d-1.6916690869527757!3d38.50789240256678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd642f99650dc4e7%3A0xbb448525aca0b22!2sC.%20Fortunato%20Arias%2C%2045%2C%20bajo%202%2C%2002400%20Hell%C3%ADn%2C%20Albacete!5e0!3m2!1ses!2ses!4v1764590627638!5m2!1ses!2ses" 
      class="w-full h-full rounded-xl" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>


</section>