<footer id="footer" class="flex flex-col justify-center items-center center w-full pt-14 pb-30 px-4 bg-primary text-white">
  <div class="md:w-7xl flex flex-col md:flex-row md:justify-between gap-6 items-self">
    <!-- Imagen de la asesoría -->
    <img src="./images/logoVL.png" alt="Logo VidaLegal11" class="max-w-3xs object-contain"/>

    <!-- Contacto -->
    <div>
      <h3 class="font-bold mb-2">Contacto</h3>
      <p>C/ Fortunato Arias, 45, bajo 2, Hellín(Albacete), 02400</p>
      <p>Teléfono: 967 680 649, Móvil: 683 126 162</p>
      <p>joseantonio@vidalegal11.com</p>
    </div>

    <!-- Enlaces -->
    <div>
      <h3 class="font-bold mb-2">Enlaces</h3>
      <ul class="flex flex-col gap-2">
        <li><a href="#quienes-somos" class="hover:underline">Quiénes somos</a></li>
        <li><a href="#servicios" class="hover:underline">Servicios</a></li>
        <li><a href="#datosContacto" class="hover:underline">Datos de Contacto</a></li>
        <li><a href="#mensaje" class="hover:underline">Mensaje</a></li>
      </ul>
    </div>

    <!-- Redes sociales -->
    <div>
      <h3 class="font-bold mb-2">Redes</h3>
      <div class="flex gap-3">
        <a href="https://www.facebook.com/p/VidaLegal11-Asesor%C3%ADa-61551834931368/?locale=es_LA" target="_blank"
        class="hover:text-gray-300"><img src="/icons/facebook.svg" alt="Facebook" class="w-8 h-8"></a>
      </div>
    </div>
  </div>

  <p class="text-gray-400 text-center mt-6">&copy; 2025 VidaLegal11. Todos los derechos reservados.</p>
</footer>