<section id="mensaje" class="relative flex justify-center w-full min-h-[800px] mx-auto p-8">
  
  <!-- Foto de fondo -->
  <div class="absolute inset-0 bg-cover bg-center bg-[url(./images/hero.jpg)]">
  </div>


  <!-- Formulario de contacto -->
  <form action="formulario" class="relative bg-gray-50 w-xl max-w-xl p-5 md:p-8 rounded-2xl shadow-2xl my-auto">
    <h2 class="text-primary text-center text-4xl font-bold">
      ¡Hablemos!
    </h2>
    <p class="text-lg mt-4">Nombre y apellidos</p>
    <input type="text" name="nombre" class="text-lg w-full p-2 rounded-lg border mt-2"/>
    <p class="text-lg mt-4">Email</p>
    <input type="text" name="nombre" class="text-lg w-full p-2 rounded-lg border mt-2"/>
    <p class="text-lg mt-4">Mensaje</p>
    <textarea rows="5" class="text-lg w-full p-2 rounded-lg border"></textarea>

    <button class="w-full bg-primary text-white p-3 mt-5 rounded-lg shadow hover:bg-[#6d1f2a] transition">
      Enviar mensaje
    </button>
  </form>

</section>


<!-- <section class="relative py-28" id="contacto">
  <div
    class="absolute inset-0 bg-cover bg-center"
    style="background-image: url('/images/hero.jpg');">
  </div>

  <div class="absolute inset-0 bg-black/50"></div>

  <div class="relative max-w-4xl mx-auto px-6">
    <form class="bg-white/90 backdrop-blur-lg rounded-2xl p-10 shadow-xl flex flex-col gap-6">

      <h2 class="text-4xl font-bold text-[#832633] mb-4 text-center">
        Contacta con nosotros
      </h2>

      <input type="text" placeholder="Nombre" class="p-4 rounded-lg border">
      <input type="email" placeholder="Correo" class="p-4 rounded-lg border">
      <textarea placeholder="Mensaje" rows="5" class="p-4 rounded-lg border"></textarea>

      <button class="bg-[#832633] text-white py-3 rounded-lg shadow hover:bg-[#6d1f2a] transition">
        Enviar mensaje
      </button>
    </form>
  </div>
</section> -->
