---
---
<header id="header" class="w-full bg-primary shadow-sm fixed top-0 left-0 z-50 transition-all duration-300">
  <nav id="nav" class="text-xl max-w-7xl mx-auto flex items-center justify-between p-4 transition-all duration-300 relative">
    <!-- Logo  -->
    <a href="/"><img id="logo" src="/images/logoVL.png" alt="Logo Vida Legal" class="h-15 md:h-20 transition-all duration-300"/></a>


    <!-- Hipelinks de la página  -->
    <ul id="menu" class="hidden md:flex gap-8 font-medium">
      <li>
          <p class="text-white text-2xl">Panel de administrador</p>
        </li>
    </ul>
  </nav>
</header>