<section class="w-full pt-18 md:pt-30"> 
  <div class="max-w-7xl mx-auto flex flex-col md:flex-row items-center gap-8 p-8">
    
    <!-- Texto -->
    <div class="flex-1">
      <h1 class="text-4xl md:text-5xl font-bold mb-4 text-gray-900">
        Tu asesoría de <span class="text-primary">confianza</span> en Hellín desde 2011
      </h1>
      <p class="text-lg text-gray-600 mb-6">
        Acompañamos a autónomos, empresas y familias con un trato cercano y un servicio de calidad en el ámbito laboral, fiscal, jurídico y contable.
      </p>
      <a 
        href="/contacto" 
        class="bg-primary border text-white px-6 py-3 rounded-lg text-lg hover:bg-white hover:text-primary hover:border transition"
      >
        Contáctanos
      </a>
      <div class="mt-6 grid grid-cols-1 md:grid-cols-2 gap-2 text-gray-700">
        <div class="flex items-center gap-3"> <span class="text-2xl text-primary">✔</span> <p>Más de 14 años de experiencia</p> </div> 
        <div class="flex items-center gap-3"> <span class="text-2xl text-primary">✔</span> <p>Trato cercano y personalizado</p> </div> 
        <div class="flex items-center gap-3"> <span class="text-2xl text-primary">✔</span> <p>Soluciones laborales, fiscales y jurídicas</p> </div>
      </div>
    </div>

    <!-- Imagen -->
    <div class="flex-1">
      <img 
        src="/images/hero.jpg" 
        alt="Asesoría" 
        class="w-full h-auto rounded-xl shadow-md object-cover"
      />
    </div>

  </div>
</section>
