<section class="absolute flex flex-col justify-center items-center w-full h-full bg-primary">
  
  <div class="relative flex flex-col justify-center items-center gap-10 px-4">
    <!-- Logo -->
    <img src="/images/logoVL.png" alt="Logo de VidaLegal11" class="w-xl">
    <!-- Cuadro de log in -->
    <form id="form" method="post" class="bg-gray-50 w-full md:w-xl max-w-xl p-5 rounded-2xl shadow-2xl my-auto">
      <h2 class="text-primary text-center text-4xl font-bold">
      Inicio de sesi칩n
      </h2>
      <p class="text-lg mt-4">Usuario</p>
      <input type="text" name="username" class="text-lg w-full p-2 rounded-lg border border-gray-300 mt-2
      focus:ring focus:ring-primary focus:border-primary focus:outline-none focus:shadow-md"/>
      <p class="text-lg mt-4">Contrase침a</p>
      <input type="password" name="password" class="text-lg w-full p-2 rounded-lg border border-gray-300 mt-2
      focus:ring focus:ring-primary focus:border-primary focus:outline-none focus:shadow-md"/>

      <button id="submitBtn" type="submit" class="w-full bg-primary text-white p-3 mt-5  rounded-lg shadow hover:bg-[#6d1f2a] transition">
      Entrar
      </button>
    </form>
  </div>

  <p id="toastMsg" class="fixed bottom-5 left-1/2 -translate-x-1/2 bg-gray-800 text-white border border-gray-700 px-5 py-3 rounded-lg opacity-0 transition-opacity duration-300 pointer-events-none"></p>

</section>

<script>
    function showToast(message, type, duration = 5000) {
    const toast = document.getElementById("toastMsg");
    if (!toast) return;

    if(type === "error") {
      toast.classList.add("bg-red-600", "border-red-700");
      toast.classList.remove("bg-gray-800", "border-gray-700");
    } else {
      toast.classList.add("bg-green-800", "border-green-700");
      toast.classList.remove("bg-red-600", "border-red-700");
    }

    toast.textContent = message;
    toast.classList.remove("opacity-0");

    setTimeout(() => {
      toast.classList.add("opacity-0");
    }, duration);
  }

  window.addEventListener("DOMContentLoaded", () => {
    const form = document.getElementById("form")! as HTMLFormElement;
    const btn = document.getElementById("submitBtn")! as HTMLButtonElement;

    form?.addEventListener("submit", async (e) => {
      e.preventDefault();
      btn.disabled = true;
      const data = new FormData(form);

      try {
        const res = await fetch("http://localhost:8000/admin/login", {
          method: "POST",
          body: data,
          credentials: "include",
        });
        console.log("STATUS:", res.status);
        console.log("OK?:", res.ok);
        const json = await res.json();

        if (json.success) {
          window.location.href = "/";
          return;
        }
      } catch (err) {
        showToast("Inicio de sesi칩n no v치lido", "error");
        console.error(err);
      } finally {
        btn.disabled = false;
      }
    });
  });
</script>