<section class="w-full md:max-w-7xl pt-18 md:pt-20 mx-auto p-8">
  
  <!-- Título de la sección -->
  <h1 class="text-[#832633] text-4xl font-bold mb-8 text-center md:text-left">
    Quiénes somos
  </h1>

  <!-- Contenido de la sección -->
  <div class="flex flex-col md:flex-row md:items-scretch gap-10">
    
    <!-- Imagen -->
    <img 
        src="/images/quienesSomos.png" 
        alt="Asesoría" 
        class="w-full md:w-1/4 md:h-full rounded-xl bg-[#832633] object-cover shadow-md"
      />
    
    <div class="hidden md:block bg-[#832633] p-0.5 rounded-2xl"></div>

    <div class="w-full bg-gray-300 rounded-xl p-4 shadow-md flex items-center">
      <p class="md:text-2xl">
        Desde 2011 contamos con una extensa experiencia y profesionalidad en el sector y 
        dirección de empresas.<br><br> Deseamos, con trabajo, esfuerzo y constancia, ofrecer a sus clientes 
        los mejores servicios de calidad y eficacia. En Vidalegal11 permanecemos atentos a la 
        evolución del mercado para adaptarnos en todo momento a los cambios y nuevas orientaciones. 
        <br><br>Solo así podemos ofrecer un servicio integral y multidisciplinario que dé respuesta precisa y eficaz a todas sus necesidades.
      </p>
    </div>

  </div>
</section>