@import "tailwindcss";

@font-face {
    font-family: Tinos;
    src: url("../fonts/Tinos-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@theme {
    --color-primary: #832633;
}